/*---------------------
	GLOBALE
--------------------*/
*{
	margin:0px;
	padding:0px;
	outline:none;
	border:none;
}

body{
	margin: 0px;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style-type:none;
}
html{
	font-size:62.5%;

}
hr{
	color: white;
}




/*---------------------
	HEADER
--------------------*/
header{
	background-color: #233140;
	width: 100%;
	height: 7rem;
}




header h1{
	color: white;
    text-align: left;
    line-height: 7rem;
    display: inline;
    margin-left: 15em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}






header nav{
	text-align: right;
    display: inline-block;
    float: right;
    line-height: 4rem;
    margin-right: 15em;
}


header nav ul{

}


header nav ul li{
	display: inline-block;
	line-height: 7em;
    padding: 0 1em;



}

header nav ul li:hover{
	background-color: red;



}




header nav ul li a{
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	font-weight: 700;
	text-transform: uppercase;
}










/*---------------------
	CONTENU
--------------------*/

main{

}
/*Premiere section enfant*/

main section:first-child{
	clear: both;
	background-color: #18BC9C;
	text-align: center;
	   height: 63rem;

}
main section:first-child aside{
	/*text-align: center;*/
}

main section:first-child aside img{

	margin-top: 7em;
}

main section:first-child h2{
	color: white;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size:5em;

}

main section:first-child p{
	color: white;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 400;
    padding-bottom: 7em;

}

/*Deuxieme section enfant*/

main section:nth-child(2){
	clear: both;
	text-align: center;
}

main section:nth-child(2) h3{
	font-size: 4em;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 2em;
	margin-bottom: 1.2em;
}


main section:nth-child(2) img{
	width: 25%;
	padding: 1em 1em;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-o-transition: all 1s ease; /* IE 9 */
	-ms-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
}

main section:nth-child(2) img:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* IE 9 */
	-o-transform:scale(1.25); /* Opera */
	transform:scale(1.25);
}





/*Troisieme section enfant*/

main section:nth-child(3){
	clear: both;
    background-color: #18BC9C;
    text-align: center;
    padding: 0 40em;

}



main section:nth-child(3) h3{

	font-size: 4em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}

main section:nth-child(3) p{

	color: white;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 400;
    

	
}






main section:nth-child(3) a{
	display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 1em 1em;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 5em;
}

/*dernière enfant*/

main section:last-child{


	padding: 0 10em;
}

main section:last-child h3{

	font-size: 4em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    padding-top: 1em;
    text-align: center;


}



main section:last-child  input, textarea{
	display: block;
    text-align: justify;
    width: 100%;
    color: grey;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    margin: 3em 0;
    border: none;
    border-top: 1px solid lightgrey;
   
}

input[type="submit"] {
    width: 10% !important;
    border-radius: 10px;
    padding: 1em;
    text-align: center !important;
    background-color: #18bc9c;
    color: white !important;
}






/*---------------------
	FOOTER
--------------------*/

footer section {
	display: flex;
	text-align: center;
	color: white;
	 font-family: 'Lato', sans-serif;
	 background-color: #2C3E50;
}





footer section article{
	width: 30%;
	margin-bottom: 0 2em;
	padding: 7em 0;

	
}






footer section article h4{
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 700;
}

footer section article p{
		font-size: 2.2em;


}
#copy{
	clear: both;
	background-color: #233140;
	width: 100%;
	height: 7rem;

}

#copy p{
	text-align: center;
    line-height: 7rem;
    display: block;
    margin-top: -1em;
    color: white;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
}











/*--------------------------------------------------

	LES MEDIA QUERIES POUR TELEPHONE ET TABLETTE
---------------------------------------------------*/



/*Telephone!*/

@media all and (max-width: 750px){



/*-------------------------

				HEADER
-----------------------------*/


	header{
		background-color: #233140;
		width: 100%;
		height: 7rem;
		border-bottom: 1px solid white;
	}



	header h1{
		color: white;
   		text-align: center;
   		line-height: 7rem;
   		 margin-left: 1em;
   		display: inline;
   		font-family: 'Lato', sans-serif;
   		text-transform: uppercase;
   		font-weight: 700;   		
	}


	header nav{
		text-align: right;
   		display: block;
   		margin-right: 0em;
   		margin-left: auto;
   		margin-right: auto;
   		line-height: 4rem;
   		width: 100%;
   		background-color: #233140;
   		margin-top: 0.1rem;

	}



	header nav ul li{
		display: block;
		margin-left: auto;
	   	margin-right: auto;
	    padding: 0 1em;
	    text-align: center;
	}


	header nav ul li a{
		color: white;
		font-family: 'Lato', sans-serif;
		font-size: 1.2em;
		font-weight: 700;
		text-transform: uppercase;
	}

/*---------------------
	CONTENU
--------------------*/



	main section:nth-child(2) img{
		width: 100%;
		padding: 1em 0em;
	}




	main section:nth-child(3){
		clear: both;
	    background-color: #18BC9C;
	    text-align: justify;
	    padding: 0 0;
	}



	main section:nth-child(3) p{
		color: white;
	    font-family: 'Lato', sans-serif;
	    font-size: 2em;
	    font-weight: 400;
  	  padding: 2em;	
	}

	main section:nth-child(3) a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 1em 1em;
    font-size: 1.5em;
    margin-bottom: 5em;
    margin-left: 30%;
	}

	input[type="submit"] {
    width: 100% !important;
    border-radius: 10px;
    padding: 1em;
    text-align: center !important;
    background-color: #18bc9c;
    color: white !important;
}






/*---------------------
	FOOTER
--------------------*/


	footer section {
	display: block;
	text-align: center;
	color: white;
	 font-family: 'Lato', sans-serif;
	 background-color: #2C3E50;
	 margin: 0 auto;	 
	}


	footer section article{
	width: 100%;
	margin-bottom: 0 2em;
	padding: 7em 0;
	}





}













